.home-container {
    background: url();

    .main-header {
        margin: 0 auto;
        height: 72px;
        padding-left: 32px;
        padding-right: 32px;
        font-family: sofia;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 2;
        box-shadow: 0 18px 30px rgb(0 0 0 / 2%);

        .header-content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-content {
                display: flex;

                .logo {
                    color: inherit;
                    text-decoration: none;
                    line-height: 1;
                }

                .nav-btn {
                    display: flex;
                    align-items: center;
                    font-family: Roboto;
                    padding: 0 16px;
                    cursor: pointer;

                    &:hover {
                        color: #0073ea;
                    }
                }
            }

            .right-content {
                display: flex;
                align-items: center;

                .login {
                    color: inherit;
                    text-decoration: none;
                    line-height: 1
                }

                .started-btn {
                    color: #fff;
                    background-color: #4353ff;
                    border-radius: 40px;
                    border: none;
                    padding: 8px 16px;
                    margin-left: 32px;
                    transition: all .3s ease;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(85%);
                    }
                }
            }
        }
    }

    .home-page-body {
        // display flex
        flex: 1 1;
        overflow-x: auto;

        .main-home-page {
            .home-page {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: Roboto;

                .head-line {
                    padding: 40px 32px 24px;

                    .head-line-title {
                        font-size: 4.5rem;
                        line-height: 72px;
                        font-family: Roboto;
                        word-break: break-word;
                        margin-bottom: 16px;
                        text-align: center;
                        font-weight: 400;
                        margin: 0;
                    }

                    .head-line-title-sub {
                        font-family: sofia-thin;
                        font-size: 24px;
                        line-height: 40px;
                        word-break: break-word;
                        text-align: center;
                        font-weight: 400;
                        margin: 0;
                    }


                }

                .get-started-btn {
                    color: #fff;
                    background-color: #4353ff;
                    border-radius: 40px;
                    border: none;
                    padding: 11px 48px;
                    transition: all .3s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        filter: brightness(85%);
                    }
                }

            }
        }
    }
}