.group-header-wrppaer {
    position: relative; //absoulote
    height: 36px;

    // .group-header-cmp {
    //     padding-left: 30px;
    //     position: relative;
    //     align-items: center;

    //     .column-wrapper-title {
    //         width: 100%;
    //         position: sticky;

    .title-inner-container {
        flex: 1 1;
        outline: none;
        transition: padding .15s;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 2;
        min-width: 180px;
        background-color: rgba(253, 253, 250, .95);
        cursor: default;
        align-items: center;
    }

    .group-title {
        color: rgb(0, 134, 192);
        align-items: center;
        justify-content: center;
    }

    .btn-group-menu {
        display: flex;
        flex: 0 0 30px;
        max-width: 30px;
        padding-bottom: 1px;
        left: -30px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .column-wrapper-row-columns {
        display: flex;
        // justify-content: space-between;
        width: 100%;
        position: relative;
        height: 100%;

        .group-column-list {
            font-size: .875rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: default;
            height: 100%;
            min-width: 140px;

            &:hover {
                background-color: #e6e9ef;
            }
        }
    }
}

// }
// }


.btns-modal {
    border: 1px solid rgb(155, 154, 154);
    position: absolute;
    padding: 10px;
    z-index: 100;
    background-color: #fff;
    margin-left: 144px;

    button {
        border: 1px solid rgb(186, 185, 185);
        display: inline-block;
        margin-bottom: 5px;
        cursor: pointer;
    }
}