.group-header-wrppaer {
    width: 100%;
    position: relative; //absoulote

    .group-header-cmp {
        padding-left: 30px;
        position: relative;

        .column-wrapper-title {
            flex-basis: 425px;
            // background-color: rgba(var(--pulse-floating-background-color), 0.95);
            z-index: 2;
        }

        .column-wrapper {}
    }

   
}