.group-header-wrapper.pulse-component-wrapper {
    background-color: white;

    .btn-pulse-menu-wrapper.btn-group-menu-wrapper {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        .btn-group-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            height: 45%;
            width: 50%;
            background-color: rgb(87, 155, 252);
            border-radius: 50%;
            color: white;
        }
    }

    .title-cell.group-header {
        // position: relative;
        // text-align: left;
        // font-size: 18px;
        // flex: 1 0 308px;
        // min-width: 0px;
        // display: flex;
        // align-items: center;
        // padding-bottom: 1px;
        // z-index: 1;

        .drag-btn svg {
            height: 24px;
            display: none;
            color: grey;
            margin-bottom: 5px;
        }

        .group-title-wrapper {
            color: rgb(87, 155, 252);
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            transition: padding .15s;


            .group-title {
                padding: 0 5px;
                transition: padding .15s;
                outline: none;

                &:hover {
                    outline: dashed 1px rgb(106, 106, 106);
                }
            }
        }

        &:hover {
            .drag-btn svg {
                cursor: move;
                display: block;
                margin-top: 5px;
            }
        }
    }


    &:hover {
        .group-header-cmp {
            padding: 0 5px;
            transition: padding .15s;
        }

        .drag-btn svg {
            cursor: move;
            display: block;
            margin-top: 5px;
        }
    }
}


// .btns-modal {
//     border: 1px solid rgb(155, 154, 154);
//     position: absolute;
//     padding: 10px;
//     z-index: 100;
//     background-color: #fff;
//     margin-left: 144px;
//     width: 264px;
//     top: 80%;
//     left: 7px;

//     button {
//         border: 1px solid rgb(186, 185, 185);
//         display: inline-block;
//         margin-bottom: 5px;
//         cursor: pointer;
//     }
// }

.pulse-component-wrapper.group-footer {
    width: 100%;
    z-index: 0;
    background-color: #ffffff;


    .group-footer.pulse-component {
        width: 100%;

        .title-container {}

        .title-cell-component.group-footer {
            width: 100%;
            padding: 0px;
            display: flex;
            background-color: #ffffff;


            .title-component {
                width: 100%;
                height: 100%;
                border: 1px solid rgb(220, 220, 220);
                border-right: none;
                line-height: 30px;
            }

            .title-component:focus {
                height: 100%;
                outline: none;
            }
        }

        .footer-spacer {
            flex-grow: 1;
            border: 1px solid rgb(220, 220, 220);
            border-left: none;
        }

        .pulse-left-indicator {
            background-color: rgb(87, 155, 252);
            color: rgb(87, 155, 252);
            flex: 0 0 8px;
            height: 100%;
            transition: flex-basis .1s ease-in;
            position: relative;
        }

        .add-task {
            padding-left: 8px;
        }

    }
}