.board-header {
    position: sticky;
    left: 0;
    z-index: 15;
    will-change: transform;
    transform: translate3d(0, 0, 0);

    .board-header-content {
        padding: 16px 30px 0px 30px;

        .board-header-top {
            width: 100%;

            .board-header-top-top {
                .top-container {

                    .left-container {
                        .board-name {
                            white-space: nowrap;
                            font-weight: 500;
                            cursor: text;
                            display: inline-flex;
                            max-width: 100%;
                            align-items: center;
                            overflow: hidden;

                            .board-title {
                                margin-right: 4px;
                                box-sizing: border-box;

                                .board-title-name {
                                    border-radius: 4px;
                                    line-height: 32px;
                                    overflow: hidden;
                                    white-space: normal;
                                    line-height: 52px;
                                    // font-family: Roboto;
                                    font-weight: 500;
                                    font-size: 24px;
                                    margin: 0;
                                }

                            }

                            .btn-title-name {
                                color: #676879;
                                height: 16px;
                                width: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                svg {
                                    height: 16px;
                                }
                            }

                        }
                    }

                    .right-container {
                        position: absolute;
                        top: 26px;
                        right: 20px;
                        justify-content: center;
                        align-items: center;

                        .invite {
                            padding: 4px 8px;
                            cursor: pointer;

                            &:hover {
                                background-color: #ece7e7;
                                border-radius: 4px;

                            }
                        }

                        .activity {
                            padding: 4px 8px;
                            margin-left: 16px;
                            cursor: pointer;


                            &:hover {
                                background-color: #ece7e7;
                                border-radius: 4px;

                            }
                        }

                        .add-to-board {
                            margin-left: 16px;
                            border: 1px solid #c5c7d0;
                            padding: 3px 3px;
                            height: 26px;
                            cursor: pointer;
                            border-radius: 2px;
                            font-size: 14px;


                            &:hover {
                                background-color: #ece7e7;
                                border-radius: 4px;

                            }
                        }

                        .edit {
                            padding: 4px 8px;
                            margin-left: 16px;
                        }
                    }
                }
            }

            .btn-defult-view {
                font-size: 14px;

                font-weight: 400;
            }

        }

        .board-header-bottom {
            border-top: 1px solid;
            border-color: #e6e9ef;
            display: flex;
            padding: 16px 0px;
        }

        .board-header-filter {
            padding: 16px 0;
            font-size: .875rem;
            box-sizing: border-box;
        }
    }
}

.desc {
    color: #676879;
    outline-style: none;
    max-width: 70%;
    font-size: 14px;

    font-weight: 400;

    &:hover {
        outline: dashed 1px rgb(180, 180, 180);
    }
}

.board-invite-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    overflow: hidden;
    border-radius: 8px;
    outline: none;
    padding: 0px;
    height: auto;
    width: 530px;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease 0s;
    box-shadow: rgb(0 0 0) 0px 6px 20px 0px;
    z-index: 40;
    padding: 24px 32px 8px 32px;

    .invite-input {
        height: 30px;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 10px;
        margin-bottom: 60px;

        &:hover {
            background-color: #c6c6c6;
        }
    }
}