.title-container {
    flex-basis: 237px; //263px;
    flex-shrink: 0;
    position: sticky;
    left: 46px;
    z-index: 10;
    display: flex;
    flex: 1 1 auto;

    .title-inner-container {
        flex-basis: 400px;
        flex-grow: 1;
        width: 0;


        .title-inner-wrapper {
            height: 100%;

            .title-cell {
                // flex-basis: 400px;
                flex: 1 0 308px;
                height: 100%;
            }
        }
    }
}

.btn-pulse-menu-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    width: 30px;
    left: -30px;
    height: 100%;
    background-color: #fff;

    .btn-pulse-menu {
        width: 100%;
        height: 100%;
        display: none;
    }

    .btn-pulse-menu.btn-pulse-menu:before {

        width: 100%;
        height: 100%;
        background-color: rgb(220, 223, 236);
        padding: 0px 3px;
        content: '▾';
        border-radius: 5px;
        margin-left: 6px; //
    }

}


.title-cell-component {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    height: 100%;
    text-align: left;

    .pulse-left-indicator {
        background-color: rgb(87, 155, 252);
        color: rgb(87, 155, 252);
        flex: 0 0 8px;
        height: 100%;
        transition: flex-basis .1s ease-in;
        position: relative;
    }

    .title-component {
        height: 24px;
        display: flex;
        flex: 1;
        align-items: center;
        min-width: 0;
        padding-left: 10px;
        line-height: 23px;
        text-decoration: none;
        color: #323338;
        color: var(--primary-text-color);
        font-weight: 400;
        font-size: 13px;

        .edit-icon-wrapper {
            display: none;
            flex: 0 0 24px;
            text-align: center;
            line-height: 24px;
            // background-color: rgb(230, 233, 239);
            order: 1;

            .edit-icon {
                cursor: pointer;
                height: 24px;
                flex: initial;
                margin-left: 8px;
                color: #676879;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 4px;
                line-height: 22px;
                padding-top: 2px;
            }
        }
    }

    .conversation-indicator-component {
        display: flex;
        justify-content: center;
        padding: 0 4px;
    }

}

.title-cell-component:hover {
    .title-component {
        .edit-icon-wrapper {
            display: inline-flex;

            .edit-icon {
                background-color: rgb(230, 233, 239);
            }

            .edit-icon:hover {

                background-color: #f5f6f8;

            }
        }
    }
}